.service-site {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.servies-box img {width: 100%;height: 100%;margin: 15px;padding: 26px;}

h1.best {
    margin-top: 80px;
}

@media only screen and (max-width: 600px) {
   
    .service-site {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


  }