
.card-style {
    border: none;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
}
.card-style:hover{
    box-shadow: 10px 10px 15px rgb(68, 67, 67),
                 -10px -10px 10px white;
}

.single-service {
    margin: 10px;
    border: 1px solid #f0e7e7;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
}

.single-service:hover {
    margin: 10px;
    border: 1px solid #f0e7e7;
    border-radius: 10px;
    box-shadow: 3px 4px 1px 1px;
    transition: 0.3s;
}
